<style>
  /*
*
* =====================
* REFERENCES
* =====================
*
*/
  #filter {
    text-align: center;
    /* margin: 20px 0;
    padding: 0; */
  }

  #filter li {
    /* display: inline-block;
    list-style-type: none;
    font-family: "Roboto Slab", serif;
    margin-bottom: 30px;
    border-top: solid 1px #429244;
    border-bottom: solid 1px #429244;
    margin: 0 10px 20px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; */
  }

  #filter li a {
    /* display: inline-block;
    padding: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: #429244;
    outline: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; */
  }

  #filter li.active,
  #filter li:hover {
    border: none;
  }

  #filter li.active a,
  #filter li:hover a {
    color: #fff;
    text-decoration: none;
    background: #429244;
  }

  .reference {
    margin-bottom: 30px;
    overflow: hidden;
  }

  @media (max-width: 767.98px) {
    .reference {
      max-width: 350px;
      margin: 0 auto;
      margin-bottom: 30px;
    }
  }

  .reference a {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
  }

  .reference h3 {
    font-weight: 400;
  }

  .reference img {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .reference .overlay {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    opacity: 0;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    padding: 15px;
  }

  .reference .overlay p {
    color: #fff;
  }

  .reference .reference-title {
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  .reference:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  .reference:hover .overlay {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }

  #detail {
    display: none;
  }

  #detail .btn {
    margin: 10px;
  }

  #detail .close {
    position: absolute;
    right: 0;
    z-index: 999;
    display: block;
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    font-size: 3rem;
    opacity: 0.3;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  #detail .close:hover {
    opacity: 1;
  }

  #detail-slider {
    margin-top: 50px;
  }
</style>
<section id="projects">
  <div class="line3">
    <div class="container">
      <div id="project1"></div>
      <div class="row Ama">
        <div class="col-md-12">
          <span name="projects" id="projectss"></span>
          <h3>
            <%=t("projects.title")%>
          </h3>
          <p>
            <%=t("projects.sub_title")%>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="col-sm-12" style="text-align: center;">
      <div class="mb-5 text-center">
        <!-- <h2 data-animate="fadeInUp" class="title">My work</h2>
        <p data-animate="fadeInUp" class="lead">I have worked on dozens of projects so I have picked only the latest
          for you.</p> -->
      </div>

      <ul id="filter" data-animate="fadeInUp">
        <li class="active"><a href="#" data-filter="all">
            <%=t("all")%></a></li>
        <% @galleries.each do |gallery| %>
        <li><a href="#" data-filter="<%=gallery.title %>">
            <%= gallery.title %></a></li>
        <% end %>
        <!-- <li><a href="
            #" data-filter="webdesign">Webdesign</a></li>
        <li><a href="#" data-filter="seo">SEO</a></li>
        <li><a href="#" data-filter="marketing">Marketing</a></li>
        <li><a href="#" data-filter="other">Other</a></li> -->
      </ul>
      <div id="detail">
        <div class="row">
          <div class="col-lg-10 mx-auto"><span class="close">×</span>
            <div id="detail-slider" class="owl-carousel owl-theme"></div>
            <div class="text-center">
              <h1 id="detail-title" class="title"></h1>
            </div>
            <div id="detail-content"></div>
          </div>
        </div>
      </div>
      <!-- Reference detail-->
      <div id="references-masonry" data-animate="fadeInUp">
        <div class="row">
          <% @galleries.each do |gallery| %>
          <% gallery.projects.each do |prj| %>

          <div data-category="<%= gallery.title %>" class="reference-item col-lg-3 col-md-6">
            <div class="reference">
              <a href="#">
                <!-- <img src="assets/sm/picNews/news1.jpg" alt="" class="img-fluid"> -->
                <%=image_tag(prj.images.first.image.url(:medium), class: "img-fluid", style: "", alt: prj.title)%>

                <div class="overlay">
                  <div class="inner">
                    <h3 class="h4 reference-title">
                      <%= prj.title %>
                    </h3>
                    <p>
                      <%= prj.subtitle %>

                    </p>
                  </div>
                </div>
              </a>
              <div data-images="<%= prj.images.map { |img| asset_url(img.image.url(:medium)) }.join(',') %>" class="sr-only reference-description">
                <p>
                  <%= prj.text %>
                </p>
                <p class="buttons text-center">
                  <a href="javascript:void(0);" class="btn btn-success btn-outline-primary"><i class="fa fa-globe"></i>
                    Visit website</a>
                  <!-- <a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fa fa-download"></i>
                    Download case study</a> -->
                </p>
              </div>
            </div>
          </div>
          <% end %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">

  jQuery(window).load(function () {
    /* =========================================
    * filter
    *  =======================================*/

    $('#filter a').click(function (e) {
      e.preventDefault();

      $('#filter li').removeClass('active');
      $(this).parent('li').addClass('active');

      var categoryToFilter = $(this).attr('data-filter');

      $('.reference-item').each(function () {

        if ($(this).data('category') === categoryToFilter || categoryToFilter === 'all') {
          $(this).show();
        } else {
          $(this).hide();
        }
      });

    });

    /* =========================================
     * reference functionality
     *  =======================================*/
    $('.reference a').on('click', function (e) {
      e.preventDefault();

      var title = $(this).find('.reference-title').text(),
        description = $(this).siblings('.reference-description').html();

      $('#detail-title').text(title);
      $('#detail-content').html(description);

      var images = $(this).siblings('.reference-description').data('images').split(',');
      if (images.length > 0) {
        sliderContent = '';
        for (var i = 0; i < images.length; ++i) {
          sliderContent = sliderContent + '<div class="item"><img src=' + images[i] + ' alt="" class="img-fluid"></div>';
        }
      } else {
        sliderContent = '';
      }

      openReference(sliderContent);

    });

    function openReference(sliderContent) {
      $('#detail').slideDown();
      $('#references-masonry').slideUp();


      if (sliderContent !== '') {

        var slider = $('#detail-slider');

        if (slider.hasClass('owl-loaded')) {
          slider.trigger('replace.owl.carousel', sliderContent);
        } else {
          slider.html(sliderContent);
          slider.owlCarousel({
            nav: false,
            dots: true,
            items: 1
          });

        }
      }
    }


    function closeReference() {
      $('#references-masonry').slideDown();
      $('#detail').slideUp();
    }

    $('#filter button, #detail .close').on('click', function () {
      closeReference();
    });
  });
</script>