<section id="projects">
  <div class="line3">
    <div class="container">
      <div id="project1"></div>
      <div class="row Ama">
        <div class="col-md-12">
          <span name="projects" id="projectss"></span>
          <h3>
            <%=t("projects.title")%>
          </h3>
          <p>
            <%=t("projects.sub_title")%>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="col-sm-12" style="text-align: center;">
      <div class="mb-5 text-center">
        <!-- <h2 data-animate="fadeInUp" class="title">My work</h2>
        <p data-animate="fadeInUp" class="lead">I have worked on dozens of projects so I have picked only the latest
          for you.</p> -->
      </div>


      <!-- End Carousel -->
      <!-- Nav tabs -->
      <ul id="filter" class="nav nav-tabs" role="tablist">
        <% @galleries.each do |gallery| %>
        <li role="presentation" class="<%= @galleries.first.id == gallery.id ? 'active' : '' %>">
          <a href="#<%=gallery.try(:id) %>" aria-controls="<%=gallery.try(:id) %>" role="tab" data-toggle="tab">
            <%=gallery.try(:title) %></a></li>
        <% end %>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <% @galleries.each do |gallery| %>


        <div role="tabpanel" id="<%=gallery.try(:id)%>" class="tab-pane <%= @galleries.first.id == gallery.id ? 'active' : '' %>">
          <div class="row">
            <% gallery.projects.where(is_draft: false).with_images.each do |prj| %>

            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <div class="caption">
                  <h3>
                  <a href="<%=project_url(prj) || '#projects'%>" role="button">
                    <%=prj.try(:title)%>
                  </a>
                  </h3>
                  <p>

                    <!-- Start Carousel -->
                    <div id="carousel-project-image<%=prj.id%>" class="carousel slide" data-ride="carousel">
                      <!-- Indicators -->
                      <ol class="carousel-indicators">
                        <% prj.images.each do |image| %>
                        <% if prj.images.count > 1 %>
                        <li data-target="#carousel-project-image<%=prj.id%>" data-slide-to="<%=image.id%>" class="<%= prj.images.first.id == image.id ? 'active' : '' %>"></li>
                        <% end %>
                        <% end %>
                      </ol>

                      <!-- Wrapper for slides -->
                      <div class="carousel-inner" role="listbox">
                        <% prj.images.each do |image| %>
                          
                        <div class="item <%= prj.images.first.id == image.id ? 'active' : '' %>">
                          <% if image.present? %>
                          <%= image_tag(image.image.try(:url, :small), class: "img-fluid center-block", style: "height:190px", alt: image.title) %>
                          <% else %>
                          <%= image_tag("portfolio2018/no_image/NoPhoto.png") %>
                          <% end %>
                          <div class="carousel-caption">
                            <%#=prj.try(:title)#%>
                          </div>
                        </div>
                        <% end %>
                      </div>
                      <% if prj.images.count > 1 %>
                      <!-- Controls -->
                      <a class="left carousel-control" href="#carousel-project-image<%=prj.id%>" role="button"
                        data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="right carousel-control" href="#carousel-project-image<%=prj.id%>" role="button"
                        data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                      <% end %>

                    </div>
                    <!-- End Carousel -->
                  </p>
                  <p>

                  
                  <a href="<%=prj.try(:url) || '#projects'%>" class="btn btn-success btn-outline-primary disabled <%=prj.try(:url) || 'disabled'%>"
                      role="button">
                      <!--<span class="glyphicon glyphicon-globe"></span>-->
                      <%=t("visit_url")%></a>
                      <!--
                      <a href="<%=project_url(prj) || '#projects'%>" class="btn btn-default" role="button">
                      <%=t("more_details")%></a>
                      -->
                      <%prj.text = prj.try(:text).try(:html_safe) %>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#projectModalId" 
                    data-project="<%={project: prj, images: prj.images.map{ |image| {url:image.try(:image).try(:url, :original), tag: image_tag(image.image.try(:url, :original), class: 'img-responsive center-block')} }}.to_json()%>"><%=t("more_details")%> </button>
                  </p>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>

                      <%= render partial: 'project_modal' %>
                      <%#=render partial: 'project_modal', locals: {gallery: gallery, items: gallery.projects}#%>


        <% end %>

      </div>


    </div>
  </div>
</section>
